.whole-blog-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 85%;
    margin: 10px auto;
    gap: 30px
}
.blog-container{
    height: 87.5vh;
    overflow-y: auto;
}
.blog-post-description{
    padding: 20px;
    width: 550px;
}
.blog-post-link{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.blog-post-title{
    font-family: 'McLaren', sans-serif;
    padding-bottom: 10px;
}
.blog-user-profile-container{
    text-align: center;
    padding: 20px;
    background-color: #FCF6FF;
    height: 130px;
    width: 230px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.blog-user-profile-picture-container{
    width: 100px;
    height: 100px;
}
.blog-right-bottom{
    width: 300px;
    margin: 15px auto;
    text-align: center;
}
.blog-button{
    background-color: #640491;
    border: 0;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}


.add-blog-container{
    width: 90%;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 73.5vh;
}
.add-image-visualization{
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 15px
    
}
.blog-add-form{
    border-radius: 15px;
    margin: 10px 20px;
    padding: 10px 30px;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    font-size: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.add-blog-input[type = "file"]{
    color: transparent;
    display: none;
}
.blog-add-picture{
    padding: 10px 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.add-image-icon{
    width: 25px;
    height: 25px;
}
.add-image-feature-icons{
    display: flex;
    margin: 0px 20px;
    font-family: 'nyala';
    font-size: 13px;
    float: right;
}
.add-image-each-feature{
    padding: 2px 8px;
    cursor: pointer;
}
.active-icon{
    color: #a509ed;
    border-bottom: 2px solid #a509ed;
}
.add-blog-input-title{
    width: 360px;
    padding: 10px;
    border: 1px solid #640491;
    background-color: transparent;
    outline: none;
    margin-top: 15px;
    border-radius: 10px;
    font-family: 'nyala';
}
.add-blog-description-emoji{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 5px 10px;
    border: 1px solid #640491;
    width: 360px;
    height: 180px;
    border-radius: 10px;
}
.add-blog-input-description{
    outline: none;
    background-color: transparent;
    font-size: 15px;
    border: 0;
    font-family: 'nyala';
}
.emoji-picker{
    cursor: pointer;
}
.add-blog-buttons button{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 15px;
}


.each-blog-whole-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 75%;
    margin: 5% auto 10px;
    font-family: 'McLaren', sans-serif;
    height: 70vh;
}
.each-blog-container{
    width: 600px;
    display: flex;
    border: 1px solid #640491;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 0px 20px 20px;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FCF6FF;
    font-size: 18px;
}
.each-blog-container:hover{
    transform: translate(-10px, -10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    transition: 1s;
}
.each-blog-post-picture{
    width: 250px;
    height: 230px;
    border-radius: 10px;
}
.each-blog-title{
    font-size: 25px;
    font-weight: bold;
}
.each-blog-comments{
    width: 280px;
    height: 50vh;
    overflow-y: auto;
    border: 1px solid #640491;
    border-radius: 20px;
    padding: 20px;
}
::-webkit-scrollbar{
    width: 5px;
}
.each-blog-comments-header{
    font-size: 25px;
    text-align: center;
}
.each-blog-edit-button{
    border: 1px solid #640491;
    border-radius: 15px;
    padding: 5px 10px 10px;
    width: 60px;
    text-align: center;
    margin: 10px 18px 0px;
    height: 17px;
}
.each-blog-edit-inputs{
    display: block;
    width: 500px;
    margin: 10px 13%;
}
.each-blog-edit-input{
    width: 400px;
    margin: 7px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}
.edit-description{
    height: 100px;
}



@media(max-width:1300px){
    .each-blog-whole-container{
        width: 80%;
    }
}
@media(max-width:1260px){
    .each-blog-whole-container{
        width: 90%;
    }
}
@media(max-width:1150px){
    .whole-blog-container{
        width: 90%;
    }
    .each-blog-container{
        font-size: 15px;
    }
}
@media(max-width:1050px){
    .blog-post-description{
        padding: 20px 5px;
    } 
    .whole-blog-container{
        width: 95%;
    }
    .each-blog-post-picture{
        width: 300px;
        height: 280px;
    }
    .each-blog-comments{
        width: 200px;
    }
}
@media(max-width:900px){
    .whole-blog-container{
        grid-template-columns: auto;
    }
    .blog-container{
        grid-row: 2;
    }
    .blog-right-bottom{
        margin: 10px 0px;
        width: 100px;
    }
    .blog-right-container{
        width: 300px;
        margin: 5px auto;
    }
}
@media(max-width:880px){
    .each-blog-whole-container{
        display: block;
    }
    .each-blog-comments{
        width: 300px;
        margin: 10px auto;
    }
    .add-blog-container{
        display: block;
        overflow-y: auto;
    }
}
@media(max-width:650px){
    .each-blog-container{
        font-size: 13px;
        display: block;
    }
    .blog-add-form{
        width: 300px;
    }
    .add-blog-input-title, .add-blog-description-emoji{
        width: 280px;
    }
    .add-blog-input-description{
        width: 250px;
    }
}
@media(max-width:480px){
    .each-blog-post-image{
        width: 150px;
        height: 150px;
    }
    .blog-post-description{
        width: 300px;
    }
    .blog-add-form{
        width: 250px;
    }
    .add-blog-input-title, .add-blog-description-emoji{
        width: 230px;
    }
    .add-blog-input-description{
        width: 210px;
    }
}
@media(max-width:460px){
    .each-blog-container{
        font-size: 12px;
    }
    .blog-post-description{
        padding: 10px 1px;
    } 
    .add-blog-container{
        height: 79vh;
    }
}